@import '../../variables.scss';


.content {
  max-width: $page-width;
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  color: $text-color;
}

.error-message {
  font-weight: 600;
  color: $error-color;
}
